## Formula 1 Datasets

The csv found in this directory contain all the information available in the history of F1. 

The objective of this notebook is to clean the data (if needed), and join somo of the datasets in order to make some data visualization in Tableau. Let's get started!!

The first objective is to find out which formula 1 driver has won more races, when he has won those races and where. 

In order to get that information I will probably need the circuits, the drivers, and the results. So let's start looking at those three datasets to see what we can do.

#### Taking a look at the datasets of interest

In [2]:
%pylab inline
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [5]:
#circuits dataset
circuits = pd.read_csv('./circuits.csv', encoding = "latin")

In [6]:
circuits.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10.0,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,NaN,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,NaN,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,MontmelÌ_,Spain,41.57000,2.26111,NaN,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,NaN,http://en.wikipedia.org/wiki/Istanbul_Park

In [12]:
len(circuits)

73

In [7]:
#drivers dataset
drivers = pd.read_csv('./drivers.csv', encoding = "latin")

In [8]:
drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44.0,HAM,Lewis,Hamilton,07/01/1985,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,NaN,HEI,Nick,Heidfeld,10/05/1977,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6.0,ROS,Nico,Rosberg,27/06/1985,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14.0,ALO,Fernando,Alonso,29/07/1981,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,NaN,KOV,Heikki,Kovalainen,19/10/1981,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [13]:
len(drivers)

842

In [9]:
#results dataset
results = pd.read_csv('./results.csv', encoding = "latin")

In [11]:
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22.0,1,1.0,1,1,10.0,58,34:50.6,5690616.0,39.0,2.0,01:27.5,218.3,1
1,2,18,2,2,3.0,5,2.0,2,2,8.0,58,5.478,5696094.0,41.0,3.0,01:27.7,217.586,1
2,3,18,3,3,7.0,7,3.0,3,3,6.0,58,8.163,5698779.0,41.0,5.0,01:28.1,216.719,1
3,4,18,4,4,5.0,11,4.0,4,4,5.0,58,17.181,5707797.0,58.0,7.0,01:28.6,215.464,1
4,5,18,5,1,23.0,3,5.0,5,5,4.0,58,18.014,5708630.0,43.0,1.0,01:27.4,218.385,1

In [14]:
len(results)

23777

In [18]:
#number of different drivers in the datset. It should be the same as the lenght of the drivers dataset.
len(results.driverId.unique())

842

In [20]:
#number of races in the dataset
len(results.raceId.unique())

976

In [35]:
#We only want the winners, so let's make the dataset a bit smaller.
winners = results[results['position'] == 1]

In [36]:
winners.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22.0,1,1.0,1,1,10.0,58,34:50.6,5690616.0,39.0,2.0,01:27.5,218.3,1
22,23,19,8,6,1.0,2,1.0,1,1,10.0,56,31:18.6,5478555.0,37.0,2.0,01:35.4,209.158,1
44,45,20,13,6,2.0,2,1.0,1,1,10.0,57,31:07.0,5466970.0,38.0,3.0,01:33.6,208.153,1
66,67,21,8,6,1.0,1,1.0,1,1,10.0,66,38:19.1,5899051.0,46.0,1.0,01:21.7,205.191,1
88,89,22,13,6,2.0,1,1.0,1,1,10.0,58,26:49.5,5209451.0,16.0,3.0,01:26.7,221.734,1

In [37]:
len(winners)

979

Okay, so we see that we have all the information we wanted except from the date. Let's see if we can find that in the races dataset.

In [21]:
#races dataset
races = pd.read_csv('./races.csv', encoding = "latin")
races.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [24]:
#The length of the races should be the same as the number of races in the results of the dataset. But it varies...
len(races)

997

In [22]:
races.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 8 columns):
raceId       997 non-null int64
year         997 non-null int64
round        997 non-null int64
circuitId    997 non-null int64
name         997 non-null object
date         997 non-null object
time         266 non-null object
url          997 non-null object
dtypes: int64(4), object(4)
memory usage: 62.4+ KB

We have it (not as a date, but that is okay for now)!!!

Let's now select the columns we are interested in before we join all of them into one dataset.

In [30]:
#selecting the columns of interest in the circuits dataset
circuits = circuits[['circuitId', 'name', 'country', 'lat', 'lng']]

In [33]:
#selecting the columns of interest in the drivers dataset
drivers = drivers[['driverId','forename', 'surname',
       'nationality']]

In [41]:
#selecting the columns of interest in the races dataset
races = races[['raceId', 'circuitId', 'date']]

In [45]:
#selecting the columns of interest in the winners dataset
winners = winners[['raceId', 'driverId', 'grid', 'points']]

We have now made the dataset smaller with the information we want. Let's join them!!

In [47]:
winner_races = pd.merge(winners, races, on='raceId', how='inner')

In [49]:
winner_races_drivers = pd.merge(winner_races, drivers, on='driverId', how='inner')

In [51]:
race_winners = pd.merge(winner_races_drivers, circuits, on='circuitId', how='inner')

In [60]:
race_winners.head(20)

,raceId,driverId,grid,points,circuitId,date,forename,surname,nationality,name,country,lat,lng
0,18,1,1,10.0,1,2008-03-16,Lewis,Hamilton,British,Albert Park Grand Prix Circuit,Australia,-37.8497,144.968
1,926,1,1,25.0,1,2015-03-15,Lewis,Hamilton,British,Albert Park Grand Prix Circuit,Australia,-37.8497,144.968
2,36,8,1,10.0,1,2007-03-18,Kimi,RÌ_ikkÌ¦nen,Finnish,Albert Park Grand Prix Circuit,Australia,-37.8497,144.968
3,880,8,7,25.0,1,2013-03-17,Kimi,RÌ_ikkÌ¦nen,Finnish,Albert Park Grand Prix Circuit,Australia,-37.8497,144.968
4,841,20,1,25.0,1,2011-03-27,Sebastian,Vettel,German,Albert Park Grand Prix Circuit,Australia,-37.8497,144.968
5,969,20,2,25.0,1,2017-03-26,Sebastian,Vettel,German,Albert Park Grand Prix Circuit,Australia,-37.8497,144.968
6,55,4,3,10.0,1,2006-04-02,Fernando,Alonso,Spanish,Albert Park Grand Prix Circuit,Australia,-37.8497,144.968
7,71,21,1,10.0,1,2005-03-06,Giancarlo,Fisichella,Italian,Albert Park Grand Prix Circuit,Australia,-37.8497,144.968
8,90,30,1,10.0,1,2004-03-07,Michael,Schumacher,German,Albert Park Grand Prix Circuit,Australia,-37.8497,144.968
9,124,30,2,10.0,1,2002-03-03,Michael,Schumacher,German,Albert Park Grand Prix Circuit,Australia,-37.8497,144.968
10,141,30,1,10.0,1,2001-03-04,Michael,Schumacher,German,Albert Park Grand Prix Circuit,Australia,-37.8497,144.968
11,158,30,3,10.0,1,2000-03-12,Michael,Schumacher,German,Albert Park Grand Prix Circuit,Australia,-37.8497,144.968
12,1,18,1,10.0,1,2009-03-29,Jenson,Button,British,Albert Park Grand Prix Circuit,Australia,-37.8497,144.968
13,338,18,4,25.0,1,2010-03-28,Jenson,Button,British,Albert Park Grand Prix Circuit,Australia,-37.8497,144.968
14,860,18,2,25.0,1,2012-03-18,Jenson,Button,British,Albert Park Grand Prix Circuit,Australia,-37.8497,144.968
15,108,14,11,10.0,1,2003-03-09,David,Coulthard,British,Albert Park Grand Prix Circuit,Australia,-37.8497,144.968
16,207,14,4,10.0,1,1997-03-09,David,Coulthard,British,Albert Park Grand Prix Circuit,Australia,-37.8497,144.968
17,191,57,1,10.0,1,1998-03-08,Mika,HÌ_kkinen,Finnish,Albert Park Grand Prix Circuit,Australia,-37.8497,144.968
18,175,56,6,10.0,1,1999-03-07,Eddie,Irvine,British,Albert Park Grand Prix Circuit,Australia,-37.8497,144.968
19,224,71,2,10.0,1,1996-03-10,Damon,Hill,British,Albert Park Grand Prix Circuit,Australia,-37.8497,144.968

In [55]:
len(race_winners) #it makes sense, because it is the same lenght as the lenght of the winners dataset

979

In [57]:
#let's check for null values
race_winners.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 979 entries, 0 to 978
Data columns (total 13 columns):
raceId         979 non-null int64
driverId       979 non-null int64
grid           979 non-null int64
points         979 non-null float64
circuitId      979 non-null int64
date           979 non-null object
forename       979 non-null object
surname        979 non-null object
nationality    979 non-null object
name           979 non-null object
country        979 non-null object
lat            979 non-null float64
lng            979 non-null float64
dtypes: float64(3), int64(4), object(6)
memory usage: 107.1+ KB

In [59]:
race_winners.columns

Index(['raceId', 'driverId', 'grid', 'points', 'circuitId', 'date', 'forename',
       'surname', 'nationality', 'name', 'country', 'lat', 'lng'],
      dtype='object')

In [62]:
#let's get rid of the Id columns that we don't need and put the dataset in a nice order
race_winners = race_winners[['date', 'forename', 'surname', 'nationality', 'name', 'country', 'grid', 'points', 'lat', 'lng']]

In [63]:
race_winners.head()

,date,forename,surname,nationality,name,country,grid,points,lat,lng
0,2008-03-16,Lewis,Hamilton,British,Albert Park Grand Prix Circuit,Australia,1,10.0,-37.8497,144.968
1,2015-03-15,Lewis,Hamilton,British,Albert Park Grand Prix Circuit,Australia,1,25.0,-37.8497,144.968
2,2007-03-18,Kimi,RÌ_ikkÌ¦nen,Finnish,Albert Park Grand Prix Circuit,Australia,1,10.0,-37.8497,144.968
3,2013-03-17,Kimi,RÌ_ikkÌ¦nen,Finnish,Albert Park Grand Prix Circuit,Australia,7,25.0,-37.8497,144.968
4,2011-03-27,Sebastian,Vettel,German,Albert Park Grand Prix Circuit,Australia,1,25.0,-37.8497,144.968

In [64]:
race_winners.to_csv('./race_winners.csv')